ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 8px;
  margin-bottom: 7px;
  background-color: #f3f3f3;
  border: 1px solid #ddd;
}

.pagination {
  display: flex;
  justify-content: center;
  padding: 0;
}

.page-item {
  list-style-type: none;
}

.page-link {
  margin: 5px;
  cursor: pointer;
  color: #007bff;
  text-decoration: none;
}

.page-item.disabled .page-link {
  color: #cccccc;
  cursor: not-allowed;
}

.page-item.active .page-link {
  font-weight: bold;
}
